@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

h1, h2, h3, h4, h5, h6, span, p {
    margin-bottom: 10px;
}

body {
    min-height: 100vh;
    padding: 32px;
}

p {
    line-height: 1.5;
    color: #7c8ba1;
}

a {
    text-decoration: inherit;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    height: auto;
}

.purple {
    color: #6415ff;
}

button {
    cursor: pointer;
}

/* NAVIGATION */


.nav-container {
    width: 100%;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo {
    width: 40px;
    margin-right: 8px;
}

.a-logo {
    display: flex;
    align-items: center;
    
}

.txt-logo {
    font-size: 1.5rem;
    font-weight: 900;
    transition: color 0.3s ease;
}

.txt-logo:hover {
    color: #6415ff;
}

.nav-links {
    display: flex;
    padding: 0;
    align-items: center;
    
}

.nav-link {
    margin:0 24px;
    font-size: 0.875rem;
    font-weight: 600;
    
}

.nav-link--second {
    margin: 0px 24px 0px 48px;
}

.nav-link--primary {
   padding: 12px 32px; 
   margin: 0;
   flex-direction: column;
   background-color: #6415ff;
   color: #fff;
   cursor: pointer;
   border-radius: 9999px;
   transition: background-color 0.3s ease ;
}

.nav-link--primary:hover {
   background-color: #5112d1;
}

/* LANDING */

.container {
    max-width: 1280px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.primary-container {
    width: 100%;
    max-width: 540px;
}

.landing-para {
    font-size: 18px;
    margin: 32px 0;

}

.landing-title {
    font-size: 48px;
    color: black
}

.signup-container {
    position: relative;
    width: 100%;
    max-width: 510px;
}

.signup-container input {
    width: 100%;
    padding: 20px 192px 20px 32px;
    border-style: solid;
    border-width: 2px;
    color: #000000 ;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #ccc;
    border-radius: 50px;
    transition: border, border-color 0.3s ease;
}

.signup-container input:focus {
    border-color:#6415ff;
    outline:none
}

input:hover {
border : 2px solid #858484
}


.signup-container button {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  border: none;
  background-color: #6415ff;
  color: #ffffff;
  padding: 20px 40px 20px 32px;
  border-radius: 99999px;
  transition: background-color 0.3s ease;
}

 button:hover {
    background-color: #4005b6;
}
.our-customers {
    margin-top:80px;
}

.our-customers--para {
    font-size: 12px;
    font-weight: 700;
    color: #a0aec0;
}
.customers{
    margin: 16px 0px 0px;
    padding: 0px 64px 0px 0px;
    opacity: 0.5;
}

.figure-circule {
    pointer-events: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -10;
    height: 16rem;
    width: 16rem;
    --tw-translate-x: -66.67%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    opacity: 0.05;
}

#landing {
    margin-bottom: 40px;
}

.img-ilustration {
    max-width: 48rem;
}



/* FEATURES */

#features {
    width: 100%;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 96px 0;
}

.features-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.features-span--container {
    display: flex;
    justify-content: center;
}

.span-title {
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.2em;
opacity: 0.8;
}

.features-subtitles--container {
    display: flex;
    justify-content: center;
}

.features-subtitles {
    font-size: 48px;
    font-weight: 900;
    
}

.features-para--container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.para-features {
    font-size: 18px;
    line-height: 1.7;
    color: #7c8ba1;
    max-width: 500px;
    font-weight: 500;
}


.features-margin {
    margin-top: 2.5rem;
    width: 100%;
}

.features-wrapper--container {
    width: 100%;
    max-width: 384px;
    margin: 0 16px;
    padding: 32px 8px;
}
.features-wrapp {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
}
 
.features-img--span {
    padding: 22px;
    border: 1.5px solid #8584845e;
    border-radius: 99999px;
    font-size: 22px;
}

.features-wrapp--titles {
    margin: 8px 0 0 16px;
}

.features-span--title {
    font-size: 24px;
    margin-top: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.025px;
    
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1024px;
}

.para-services {
    margin-top: 18px;
}


/* MISSION */

.mission-container {
    margin-right: 64px;
}

.mission-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.mission-img {
    width: 50%;
    max-width: 100%;
    height: auto;
}

.mission-subtitle {
    margin-top: 16px;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.25;
}

.mission-para {
    font-size: 18px;
    margin-top: 16px;
    font-weight: 500;
    line-height: 1.625;
    opacity: 0.5;
    color: rgb(124 139 161);
}

.mission-nav {
    margin-top: 32px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
}

/* STEPS */

.steps-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    width: 50%;
}

.steps-figure {
    align-content: center;
}

.steps-img {
    width: 95%;
    border-radius: 0.25rem;
    display: flex;
}

.steps-subtitles {
    font-size: 56px;
    font-weight: 900;
    margin-top: 36px;
}

.steps-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.steps-list-numbers {
    font-size: 36px;
    font-weight: 600;
    opacity: 1;
    color: rgb(203 213 224);
}


.steps-list-title {
    margin-left: 1.5rem;
    text-align: start;
}

.steps-list--description {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 5px;

}

.steps-list-para {
    line-height: 2;
    font-weight: 500;
    max-width: 20rem;
    color: rgb(113 128 150);
}

/* VALUES */

#values {
    margin-top: 36px;
}

.values-main--container {
    width: 100%;
    max-width: 640px;
}

.values-container-description {
    padding-top: 24px;
    padding-bottom: 24px;
}

.values-para {
    margin-top: 32px;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.5;
    color: #7c8ba1;
}

.values-title--h2 {
    margin-top: 24px;
    font-size: 50px;
    text-align: left;
    font-weight: 900;
}

.values-description-flex {
    display: flex ;
    width: 100%;
    
}

.i-values--container {
    display: flex;
    flex-direction: column;
}
.i-values-second--container {
    margin: 32px 32px 0 0;
}

.i-values--sub---container {
    display: flex;
    align-items: center;
}


.i-values--title {
    margin-bottom: 0;
    margin-left: 10px;
    width: 100%;
    font-size: 20px;
}

.i-style {
    background-color: #B2FC99;
    padding: 16px;
    border-radius: 50%;
    
}

.i-second--color {
    background-color: #ffcccb;
    display: inline-flex;
    padding: 14px 16px; 
    border-radius: 50%;
    font-size: 16PX;

}

.i-values--para {
    margin-bottom: 0;
    margin-top: 10px;
}
